
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    box-sizing: border-box;
}

.body {
    width: 100vw;
    height: 100vh;
}

.video1Container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    gap: 1rem;
}

.video1 {
    height: 20rem;
    width: 20rem;
    background-color: rgb(42, 97, 165);
    border-radius: 10rem;
}

.logoIMC {
    width: 10rem;
    height: 10rem;
}